@import 'ol/ol.css';
@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';

html, body {
  margin: 0;
  height: 100%;
}
#map {
  position: absolute;
  top: 0; 
  bottom: 0;
  width: 100%;
}
